version: '3.9'

services:
  mongodb:
    image: mongo:7
    restart: unless-stopped
    ports:
      - '27017:27017'
    volumes:
      - mongo_data:/data/db

  backend:
    build:
      context: ./backend
    restart: unless-stopped
    environment:
      - MONGO_URI=mongodb://mongodb:27017/fullstack_devops
      - PORT=5000
      - CORS_ORIGIN=http://localhost:3000
      - JWT_SECRET=change_me
      - JWT_EXPIRES_IN=1d
    depends_on:
      - mongodb
    ports:
      - '5000:5000'

  frontend:
    build:
      context: ./frontend
    restart: unless-stopped
    environment:
      - VITE_API_URL=http://localhost:5000/api
    depends_on:
      - backend
    ports:
      - '3000:80'

volumes:
  mongo_data:
